<app-app-navbar></app-app-navbar>
<!-- <div class="container">
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
</div> -->
<app-dashboard></app-dashboard>
<!-- <div class="row width100 dashboard-div1">
    <div class="col-md-4">
      Hello
    </div>
    <div class="col-md-4">
      Hello
    </div>
    <div class="col-md-4">
      Hello
    </div>
</div>
<div class="row width100 dashboard-div2">
    <div class="col-md-4">
      charts
    </div>
    <div class="col-md-4">
      charts
    </div>
    <div class="col-md-4">
      charts
    </div>
</div> -->

