.dashboard-height{
    height: calc(100% - 50px);
    margin: 0px;
}
.dashboard-div1{
    background: #ddd;
    width: 100%;
    margin: 0px;
    height: 50%;
}
.dashboard-div2{
    background: #bbb;
    width: 100%;
    margin: 0px;
    height: 50%;
}
