/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafbfc;
    font-family: sans-serif;
    font-size: 12px;
    color: #666666;
}

.bg-white{
    background-color: #fff;
}
  
.height100{
    height: 100% !important;
}


